<div class="caso">
    <img src="{{url_caso}}" alt="{{alt}}" class="imagen-caso">
    <div class="contenido-caso">
        <h3 class="titulo-caso">{{tituloCaso}}</h3>
        <p class="descripcion-caso">
            {{descripcionCaso}}
        </p>
    </div>
</div>