{{#each this.pregunta}}
  <div class="pregunta">
    <div class="pregunta_encabezado">
      <h2>{{titulo}}</h2>
    </div>
    <div class="respuesta">
      {{respuesta}}
    </div>
  </div>
{{/each}}
