<!--=============== FOOTER ===============-->
   <footer>
      <small>&copy;2024 <b>Programacion Web UNICAH</b> -Todos los derechos Reservados.</small>
      <section class="Contacto">
         <p>Boulevar Morazán, Torre Morazán No.1 N2 Area Comercial</p>
         <p>Distrito Central, Francisco Morazán, Honduras</p>
         <p>Telefono: +504 9928-6475</p>
         <p>Email: josevalladares13@gmail.com </p>
         
      </section>      
      <nav>
         <ul>
            {{#each navigation}}
            <li><a href="{{url}}">{{label}}</a></li>
            {{/each}}
         </ul>
      </nav>
   </footer>