<!--=============== FOOTER ===============-->
   <footer>
      <small>&copy;2024 <b>Programacion Web UNICAH</b> -Todos los derechos Reservados.</small>
      <section class="Contacto">
         <p>Boulevar Morazán, Torre Morazán No.1 N2 Area Comercial</p>
         <p>Distrito Central, Francisco Morazán, Honduras</p>
         <p>Telefono: +504 9928-6475</p>
         <p>Email: josevalladares13@gmail.com </p>
      </section>
      <nav>
         <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="main/servicios/servicios.html">Servicios</a></li>
            <li><a href="main/agendar_cita/agendar_cita.html">Agenda Cita</a></li>
            <li><a href="main/recursos_legales/requisitos.html">Requisitos</a></li>
         </ul>
      </nav>
   </footer>