<div class="documento-item">
    <img src="{{img}}" alt="{{alt}}">
    <div class="documento-info">
        <h3>{{titulo}}</h3>
        <p>{{texto}}</p>
        <a href="https://drive.google.com/drive/folders/1096M0xIE1Zi-I9K2V2zYKZhamngVFIIi?usp=drive_link"">Descarga Aqui</a>
    </div>
</div>
