<base href="/Proyecto_2025">
<!--=============== HEADER ===============-->
   <header class="header">
      <nav class="nav container">
         <div class="nav__data">
            <a href="#" class="nav__logo">
               <img class="logo" src="logos/LOGO VALLADARES GUIFARRO fondo azul, estilo blanco.png"
                  alt="Logo Bufete Notarial Valladares Guifarro">
               VALLADARES GUIFARRO
            </a>

            <div class="nav__toggle" id="nav-toggle">
               <i class="ri-menu-line nav__burger"></i>
               <i class="ri-close-line nav__close"></i>
            </div>
         </div>

         <!--=============== NAV MENU ===============-->
         <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
               <li><a href="index.html" class="nav__link">Inicio</a></li>

               <!--=============== DROPDOWN 1 ===============-->
               <li class="dropdown__item">
                  <div class="nav__link">
                     Servicios <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                  </div>

                  <ul class="dropdown__menu">
                     <li>
                        <a href="main/servicios/servicios.html" class="dropdown__link">
                           <i class="ri-service-line"></i> Nuestros Servicios
                        </a>
                     </li>
                     <li>
                        <a href="main/recursos_legales/requisitos.html" class="dropdown__link">
                           <i class="ri-task-line"></i> Requisitos
                        </a>
                     </li>
                  </ul>
               </li>

               <!--=============== DROPDOWN 2 ===============-->
               <li class="dropdown__item">
                  <div class="nav__link">
                     Nosotros <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                  </div>

                  <ul class="dropdown__menu">
                     <li>
                        <a href="main/sobre_nosotros/nosotros.html" class="dropdown__link">
                           <i class="ri-information-line"></i> ¿Quienes Somos?
                        </a>
                     <li>
                        <a href="main/testimonios/testimonios.html" class="dropdown__link">
                           <i class="ri-bard-line"></i> Casos Ad Honorem
                        </a>
                     </li>

                     <li>
                        <a href="main/equipo/equipo.html" class="dropdown__link">
                           <i class="ri-group-line"></i> Equipo
                        </a>
                     </li>
                  </ul>
               </li>

               <!--=============== DROPDOWN 3 ===============-->
               <li class="dropdown__item">
                  <div class="nav__link">
                     Recursos <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                  </div>

                  <ul class="dropdown__menu">
                     <li>
                        <a href="main/recursos_legales/requisitos.html" class="dropdown__link">
                           <i class="ri-file-line"></i> Recursos Legales
                        </a>
                     </li>

                     <li>
                        <a href="main/blog/blog.html" class="dropdown__link">
                           <i class="ri-news-line"></i> Blog de Noticias
                        </a>
                     </li>

                     <li>
                        <a href="main/preguntas_frecuentes/faq.html" class="dropdown__link">
                           <i class="ri-question-answer-line"></i> Preguntas Frecuentes
                        </a>
                     </li>
                  </ul>
               </li>

               <li><a href="main/contactenos/contactenos.html" class="nav__link">Contacto</a></li>

               <li><a href="main/agendar_cita/agendar_cita.html" class="nav__link">Agenda Cita</a></li>
            </ul>
         </div>
      </nav>
   </header>