<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#each links}}
        <link href={{href}} rel={{rel}}>
    {{/each}}
    <title>Bufete Notarial Valladares Guifarro</title>
</head>