<li class="card-item">
    <a href="#" class="card-link">
        <img src="{{imagen}}" alt=" {{imagenDesc}}" class="card-image">
        <p class="badge">{{badge}}</p>
        <h2 class="card-title">{{titulo}}</h2>
        <button class="card-button">Ver Requisitos</button>
    </a>
</li>