<div class="tarjeta-testimonio">
    <h3 class="nombre">{{nombre}}</h3>
    <p class="titulo-trabajo">{{trabajo}}</p>
    <p class="comentario">
        "{{comentario}}"
    </p>
    <div class="estrellas">{{rate}}</div>
</div>