<section class="timeline">
    <div class="timeline-row">
        <div class="timeline-column">
            <h2 class="title">Nuestra historia </h2>

            <div class="timeline-box">

                <!--Contenido de linea de Tiempo-->
                <div class="timeline-content">
                    <div class="content">
                        <div class="year"><i class="ri-calendar-line"></i>Año 2020</div>
                        <h3>Comienzo</h3>
                        <p>Se crea el Despacho Notarial</p>
                    </div>
                </div>

                <div class="timeline-content">
                    <div class="content">
                        <div class="year"><i class="ri-calendar-line"></i>Año 2021</div>
                        <h3>Expansión del Bufete</h3>
                        <p>Se incorporan nuevos profesionales en las áreas de laboral, civil y administrativo</p>
                    </div>
                </div>

                <div class="timeline-content">
                    <div class="content">
                        <div class="year"><i class="ri-calendar-line"></i>Año 2022</div>
                        <h3>Nueva Localización</h3>
                        <p>Nos instalamos en un lugar céntrico y accesible, cercana de las nuevas instalaciones de la
                            Embajada Americana en Honduras
                            en el Boulevard Morazán, como una forma de atender de forma mas cercana a las personas.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="timeline-column">
            <h2 class="title">Avanzando</h2>
            <div class="timeline-box">
                <!--Contenido de linea de Tiempo-->
                <div class="timeline-content">
                    <div class="content">
                        <div class="year"><i class="ri-calendar-line"></i>Año 2023</div>
                        <h3>Áreas de Especialización </h3>
                        <p>Se definen como áreas de especialización de la firma lo atinente a los temas notariales,
                            laborales, civiles y contenciosos administrativos,
                            incorporando el componente del derecho constitucional internacional.</p>
                    </div>
                </div>
                <div class="timeline-content">
                    <div class="content">
                        <div class="year"><i class="ri-calendar-line"></i>Año 2024</div>
                        <h3>Nueva Sucursal</h3>
                        <p>Se establece como sucursal de la firma Valladares Guifarro una oficina con cuatro
                            profesionales en la Ciudad de Juticalpa,
                            Departamento de Olancho.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>